<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="styles.css">

    <title>Julio Rodrigues</title>
</head>
<body>
    <header>
        <div class="links">
            <a href="index.html">Sobre</a>
            <a href="trabalhos.html">Trabalhos</a>
        </div>
    </header>

    <div id="wrapper">

        <img src="https://avatars3.githubusercontent.com/u/33026055?s=400&u=d3e906790f6353c27afb776b56914e65195b0982&v=4" alt="Julio ROdrigues">

        <h1> Júlio Rodrigues </h1>
        <h2> Estudante - Rocketseat </h2>
        <p> Desenvolvedor full-stack focado em desenvolver os melhores websites. Aluno ativo da <a href="https:rocketseat.com.br" target="_blank">Rocketseat</a></p>

    </div>

    <div id="links-footer" class="links">
        <a href="https:github.com/JulioCRodrigues" target="_blank">Github</a>
        <a href="https:facebook.com/VulgoHades" target="_blank">Facebook</a>
        <a href="https://linkedin.com/in/juliocrodrigues" target="_blank">LinkedIn</a>

    </div>

</body>
</html>