{% extends "layout.njk"%}

{% block head%}

    <title> Trabalhos - Julio Rodrigues</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

{% endblock %}     

{% block content %}


    <div id="wrapper">

        <h1>  Meus Trabalhos</h1>

    </div>

    <section class="cards">

    {%for item in items %}

        <div class="card">
            <div class="card-image {{ 'featured-wrapper' if item.featured}}" id="{{item.id}}">
                <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Imagem de {{item.title}}">

                {% if item.featured %}
                    <div class="featured">Featured</div>
                {% endif %}
            </div>

            <div class="card-content">
                <p>{{item.title}}</p>
            </div>

            <div class="card-info">
                <p>{{item.duration}}</p>
                <p class="card-price">{{item.price}}</p>
            </div>
        </div>

    {% endfor %}
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <div class="close-modal">
                <i class="material-icons">close</i>
            </div>
            <div class="modal-content">
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

    {% endblock %}