{% extends "layout.njk" %}

{% block head %}

    <title>{{item.title}} | Receitas</title>
    <link rel="stylesheet" href="/style.css">

{% endblock%}

{% block content %}
    <main>

        <div class="cards">


            <div class="card-recipe">
                <div class="image-card-recipe">
                    <img src="{{item.image}}" alt="{{item.title}}">
                </div>
                <div class="title-card-recipe">
                    <p>{{item.title}}</p>
                </div>

                <div class="author-card-recipe">
                    <p> por {{item.author}}</p>
                </div> 

                <div class="ingredients">
                    <h1>Ingredientes</h1>
                    <button class="i-button">Esconder</button>

                </div>

                <div class="topic">
                    <div class="ingredients-description">
                        <ul>
                            {% for item in item.ingredients %}
                                <li>{{item}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            <div class="topic">
                <div class="prepare">
                    
                    <h1>Modo de preparo</h1>
                    <button class="p-button">Esconder</button>

                </div>

                <div class="preparation">
                    
                    {% for item in item.preparation %}
                        <p>{{item}}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="topic">
                <div class="info-add">
                    
                    <h1>Informações adicionais</h1>
                    <button class="info-button">Esconder</button>

                </div>

            <div class="information">
                    <p>{{item.information}}<p>
            </div>

            </div>
        </div>
    </main>
    <script src="/hidden.js"></script>


{% endblock %}