{% extends "layout.njk" %}

{% block head %}
    <title>{{item.title}} | Receitas</title>
    <link rel="stylesheet" href="/style.css">
{% endblock%}

{% block content %}
    <main>

        <div class="cards">

        {% for item in items %}
            <div class="card" id="{{ items.indexOf(item) }}">
                <div class="image-card">
                    <img src="{{item.image}}" alt="{{item.title}}">
                </div>
                <div class="title-card">
                    <p>{{item.title}}</p>
                </div>

                <div class="author-card">
                    <p> por {{item.author}}</p>
                </div>

         {% endfor %}       
            </div>
            
        </div>
    </main>
    <script src="/scripts.js"></script>


{% endblock %}