{% extends "layout.njk" %}

<title>Rockeatseat</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

{%block content %}


    <section class="cards">

        
            {% for item in items %}
            <div class="card" id="{{item.id}}">
                
                    <div class="card-image">
                        <img src="{{item.image}}" alt="Imagem do post">
                    </div>

                    <div class="card-title">
                        <p>{{item.title}}</p>
                    </div>

                    <div class="card-autor">
                        <p>{{item.author}} </p>
                        <p>{{item.time}}</p>
                    </div>
            </div>
            {% endfor %}
        

    </section>

    <div id="links-footer" class="links">

        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.linkedin.com/school/rocketseat/?originalSubdomain=br" target="_blank">Linkedin</a>
        <a href="https://mobile.twitter.com/dieegosf" target="_blank">Twitter</a>

    </div>

</div>
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <a class="min-modal">
                <i class="material-icons">exposure</i>
            </a>

            <a class="max-modal">
                <i class="material-icons">iso</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
        
    </div>

    <script src="scripts.js"></script>

{% endblock %}